In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from lxml import html
import pandas as pd

# Data from the United States

## COVID-19 Cases and Deaths

The _New York Times_ gathers number of confirmed cases and deaths from the state governments on the daily basis, and releases them on their github. The dataset is avilable at [this link](https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv).

In [2]:
us_cases = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")
us_cases.head(5)

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

The `fips` and `deaths` variables in this dataset will not be used. Therefore, we are removing it.

In [3]:
us_cases = us_cases.drop(['fips'], axis=1)
us_cases.head(5)

         date       state  cases  deaths
0  2020-01-21  Washington      1       0
1  2020-01-22  Washington      1       0
2  2020-01-23  Washington      1       0
3  2020-01-24    Illinois      1       0
4  2020-01-24  Washington      1       0

To measure the effectiveness of the disease control, we will look at the percentage increase in cases 


*   Between 15 MAR 2020 to 14 APR 2020, and
*   Between 15 APR 2020 to 14 MAY 2020,

In [0]:
march_cases = us_cases[us_cases['date'] == '2020-03-15']
march_cases = march_cases.drop(['date'], axis=1)
april_cases = us_cases[us_cases['date'] == '2020-04-15']
april_cases = april_cases.drop(['date'], axis=1)
may_cases = us_cases[us_cases['date'] == '2020-05-15']
may_cases = may_cases.drop(['date'], axis=1)

In [5]:
temp_1 = pd.merge(march_cases, april_cases, on = "state", suffixes=["_MAR", "_APR"])
us_cases_aggregated = pd.merge(temp_1, may_cases, on = "state")
del temp_1, march_cases, april_cases, may_cases
us_cases_aggregated.columns = ['state', 'cases_MAR', 'deaths_MAR', 'cases_APR', 'deaths_APR', 'cases_MAY', 'deaths_MAY']
us_cases_aggregated.head(5)

        state  cases_MAR  deaths_MAR  ...  deaths_APR  cases_MAY  deaths_MAY
0     Alabama         23           0  ...         123      11373         483
1      Alaska          1           0  ...           7        388           8
2     Arizona         13           0  ...         142      13169         651
3    Arkansas         16           0  ...          34       4463          98
4  California        478           6  ...         885      77015        3192

[5 rows x 7 columns]

In [0]:
us_cases_aggregated["cases_MAR_to_APR"] = (us_cases_aggregated["cases_APR"] - us_cases_aggregated["cases_MAR"]) / us_cases_aggregated["cases_MAR"] * 100
us_cases_aggregated["cases_APR_to_MAY"] = (us_cases_aggregated["cases_MAY"] - us_cases_aggregated["cases_APR"]) / us_cases_aggregated["cases_APR"] * 100

In [7]:
us_cases_aggregated = us_cases_aggregated.drop(['cases_MAR', 'deaths_MAR', 'cases_APR', 'deaths_APR', 'deaths_MAY'], axis=1)
us_cases_aggregated.head(5)

        state  cases_MAY  cases_MAR_to_APR  cases_APR_to_MAY
0     Alabama      11373      18339.130435        168.167885
1      Alaska        388      29000.000000         33.333333
2     Arizona      13169      30376.923077        232.382635
3    Arkansas       4463       9893.750000        179.111945
4  California      77015       5570.920502        184.114804

## US Population Data

Another measurement we wish to use is the percentage of the population that was confirmed COVID-19. The population data is necessary here. United States Census Bureau conducts censuses for population data, and releases an estimate for the US population by state every year. The latest data is available at [this link](https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html#par_textimage).

In [8]:
us_pop = pd.read_csv('http://www2.census.gov/programs-surveys/popest/datasets/2010-2019/national/totals/nst-est2019-alldata.csv')
us_pop = us_pop[['NAME', "POPESTIMATE2019"]]
us_pop.columns = ['state', 'Population']
us_pop.head(5)

              state  Population
0     United States   328239523
1  Northeast Region    55982803
2    Midwest Region    68329004
3      South Region   125580448
4       West Region    78347268

In [0]:
us_cases_aggregated = pd.merge(us_cases_aggregated, us_pop, on = 'state')

In [10]:
us_cases_aggregated['Cases per 1000 in population'] = us_cases_aggregated["cases_MAY"] / us_cases_aggregated["Population"] * 1000
us_cases_aggregated = us_cases_aggregated.drop(['cases_MAY', 'Population'], axis = 1)
us_cases_aggregated.head(5)

        state  cases_MAR_to_APR  cases_APR_to_MAY  Cases per 1000 in population
0     Alabama      18339.130435        168.167885                      2.319513
1      Alaska      29000.000000         33.333333                      0.530384
2     Arizona      30376.923077        232.382635                      1.809247
3    Arkansas       9893.750000        179.111945                      1.478890
4  California       5570.920502        184.114804                      1.949144

## US Unemployment Data 

When governments take actions to prevent the spread of COVID-19, there may be negative impacts of the welfare of the labours. One data point we often look at is the unemployment. 

The US Bureau of Labour Statistics releases the labour data by state on the monthly basis, and they are available at [this webpage](https://www.bls.gov/news.release/laus.t01.htm#). Unfortunatly, they did not provide downloadable data and/or API. Python Spider, in this case, will help us fetch the data from their webpage.

In [11]:
import requests

url = 'https://www.bls.gov/news.release/laus.t01.htm#'
page = requests.get(url)
print(page.text)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<HEAD>
<TITLE> Table 1.  Civilian labor force and unemployment by state and selected area, seasonally adjusted </TITLE>

	<meta name="agency" content="BLS" />
	<meta name="audience" content="general" />	<meta http-equiv="expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">

    <!--[if lt IE 9]>
		<link href="/stylesheets/ie8-styles.css" media="all" rel="Stylesheet" type="text/css">
	<![endif]-->
	<!--[if lt IE 8]>
		<link href="/stylesheets/ie7-styles.css" media="all" rel="Stylesheet" type="text/css">
	<![endif]-->
	<!--[if lt IE 7]>
		<link href="/stylesheets/ie6-styles.css" media="all" rel="Stylesheet" type="text/css">
		<style type="text/css">
		body {
			behavior:url(/stylesheets/csshover2.htc);
		}
		</style>
	<![endif]-->
	<!--[if IE]>
		<style type="text/css">
		body {
			font-size: expression(1 / (screen.deviceXDPI / 96) * 84 + '%');
		}
		</style>
	<![endif]-->
<meta name="subagency" content="BLS: Employment and Unemployment">
<meta name="program" content="BLS: Employment and Unemployment: Local Area Unemployment Statistics">
<meta name="subject" content="Statistics: By geographical coverage: State, Statistics: By geographical coverage: Sub-state (County/MSA/City), Statistics: Employment and Unemployment"><meta name="subagency" content="BLS: Employment and Unemployment">
<meta name="program" content="BLS: Employment and Unemployment: Employment, Hours, and Earnings from the Current Employment Statistics survey (State & Metro Area)">
<meta name="subject" content="Statistics: By geographical coverage: State, Statistics: By geographical coverage: Sub-state (County/MSA/City), Statistics: By Industries, Statistics: Wages and benefits: Hours and earnings">	<!-- START include/global/head.stm -->
	<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOL&subagency=BLS&yt=true"></script>
	<script src="/javascripts/jquery-latest.js"></script>
	<script src="/javascripts/bls-latest.js"></script>
	<script src="/javascripts/jquery-tools.js"></script>
	<script src="/javascripts/jquery-migrate-1.2.1.min.js"></script>
	<script>
(function (g) {
var d = document, am = d.createElement('script'), h = d.head || d.getElementsByTagName("head")[0], fsr = 'fsReady',
aex = {
  "src": "//gateway.foresee.com/sites/bls.gov/production/gateway.min.js",
  "type": "text/javascript",
  "async": "true",
  "data-vendor": "fs",
  "data-role": "gateway"
};
for (var attr in aex){am.setAttribute(attr, aex[attr]);}h.appendChild(am);g[fsr] = function () {var aT = '__' + fsr + '_stk__';g[aT] = g[aT] || [];g[aT].push(arguments);};
})(window);
fsReady(function() {
	FSR.CPPS.get('visitedSubSites', function(val) {
		var cpp = {};if(val){var arr = val.split(/,/gi);if(!arr.length){arr.push(val)}for(key in arr){if(typeof arr[key] == "string"){cpp[arr[key]] = true;}}}var rp = window.location.pathname.replace(/\/(opub\/(.*?)\/.*$|(.*?)\/.*$)/gi,"$2$3");if(rp.match(/(blog|btn|ces|cew|cex|charts|cpi|cps|ebs|ect|emp|fls|iif|jlt|lau|lpc|mfp|mlr|mxp|ncs|nls|oes|ooh|ors|ppi|regions|sae|ted|tus|video)/gi)){cpp[rp] = true;var out = "";for(key in cpp){out+= key + ",";}out=out.replace(/,$/,"");FSR.CPPS.set('visitedSubSites',out);
	}
    });
});
</script>


	<link rel="stylesheet" href="/assets/bootstrap/4.0.0/bootstrap.min.css">
	<!--script src="/assets/bootstrap/4.0.0/jquery-3.2.1.slim.min.js"></script-->
	<script src="/assets/bootstrap/4.0.0/popper.min.js"></script>
	<script src="/assets/bootstrap/4.0.0/bootstrap.min.js"></script>


	<link rel="stylesheet" type="text/css" href="/stylesheets/bls_combined.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bls_content.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bls_tables.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-tools.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bls_nr.css">
    <!--[if lt IE 9]>
		<link href="/stylesheets/ie8-styles.css" media="all" rel="Stylesheet" type="text/css">
	<![endif]-->
	<!--[if lt IE 8]>
		<link href="/stylesheets/ie7-styles.css" media="all" rel="Stylesheet" type="text/css">
	<![endif]-->
	<!--[if lt IE 7]>
		<link href="/stylesheets/ie6-styles.css" media="all" rel="Stylesheet" type="text/css">
		<style>
		body {
			behavior:url(/stylesheets/csshover2.htc);
		}
		</style>
	<![endif]-->
	<!--[if IE]>
		<style>
		body {
			font-size: expression(1 / (screen.deviceXDPI / 96) * 84 + '%');
		}
		</style>
	<![endif]-->
	<noscript>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bls_noscript.css">
	</noscript>
	<!--  This means that the browser will (probably) render the width of the page at the width of its own screen. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <meta property="og:image" content="https://www.bls.gov/images/bls_emblem.png" />
		<style>
			td.gsc-table-cell-thumbnail{
			display:none !important;
			}
		</style>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
	<link rel="manifest" href="/manifest.json" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="theme-color" content="#ffffff" />
    <!-- END include/global/head.stm --></HEAD>
<body>


<!-- OneColHeadBasic Begin -->

<!--no_index_start-->
<!-- DOL BANNER BEGIN -->
<!-- DOL BANNER START -->
		<a class="skiplink" href="#startcontent">Skip to Content</a>

		<div id="usa-banner-wrapper">
<div id="usa-banner" class="bootstrap">
	<div class="content">
	<div class="USA-flag-link">
	<img src="https://www.dol.gov/themes/opa_theme/img/flag-favicon-57.png" alt="U.S. flag">
	<p>An official website of the United States government

	<button type="button" data-toggle="collapse" data-target="#usaBanner" aria-expanded="false" aria-controls="usaBanner">Here is how you know <span class="oi" data-glyph="chevron-bottom"></span></button>
	</p>
	</div>
		<a href="https://www.dol.gov/" id="dolHolder" class="dolHolder" target="_blank"><img src="https://www.dol.gov/themes/opa_theme/img/logo-primary.svg" alt="Department of Labor Logo"/>  United States Department of Labor</a>
	</div>

	<div class="collapse " id="usaBanner">
	<div class="row">
	<div class="col-md-6">
		<img src="https://www.dol.gov/themes/opa_theme/img/icon-dot-gov.svg" alt="Dot gov">

		<p>
			<strong>The .gov means it's official.</strong>
			<br> Federal government websites often end in .gov or .mil. Before sharing sensitive information,
			make sure you're on a federal government site.
		</p>
	</div>

	<div class="col-md-6">
	<img class="usa-banner-icon usa-media_block-img" src="https://www.dol.gov/themes/opa_theme/img/icon-https.svg" alt="Https">

		<p>
			<strong>The site is secure.</strong>
			<br> The
			<strong>https://</strong> ensures that you are connecting to the official website and that any
			information you provide is encrypted and transmitted securely.
		</p>
	</div>
	</div>
	</div>
</div>
</div>



<!-- DOL BANNER END -->


<!-- DOL BANNER END -->
<!-- BLS BANNER BEGIN -->
<div id="bls-banner-wrapper">
<div id="top"></div>
		<div class="bootstrap">
<div>
  <div id="bls-banner" class="row autowidth">
    <div id="bls-banner-emblem" class="col-sm-12 col-md-7">
      <a href="/home.htm">U.S. Bureau of Labor Statistics</a>
    </div>
    <div id="bls-banner-right" class="col-sm-12 col-md-5 d-none d-md-block">
      <div id="bls-banner-links"><span class="social-follow"><a title="Follow BLS on Twitter" target="_blank" href="http://twitter.com/BLS_gov" aria-label="Bureau of Labor Statistics Twitter">Follow Us</a> </span><span class="social-follow-links">
        <!-- <img src="/images/icons/facebook.png"/>-->
        <a target="_blank" href="http://twitter.com/BLS_gov" aria-label="Bureau of Labor Statistics Twitter"><img style="margin-top:-10px;" alt="Follow BLS on Twitter" src="/images/icons/twitter.png"/></a>
        <!--<img src="/images/icons/linkedin.png"/>-->
        </span> | <a href="/schedule/news_release/">Release Calendar</a> | <a href="https://blogs.bls.gov/blog/" aria-label="Blog page">Blog</a></div>
      <div id="bls-banner-search1" class="bls-banner-search">
        <form method="get" action="/search/query">
		  <label for="bls-banner-search-submit1" class="invisible">Search button</label>
          <input type="image" src="/images/buttons/search_button_blue_16.png" name="term" id="bls-banner-search-submit1" alt="BLS Search Submit" title="Submit" >
		  <label for="bls-banner-search-input1" class="invisible">Search:</label>
          <input name="query" type="text" id="bls-banner-search-input1" value="Search BLS.gov" title="Search Input" onclick="this.value=''; this.onclick = null;">

        </form>
      </div>
    </div>
    <div class="clearfloat"></div>
  </div>
</div>
</div>
</div>
<!-- BLS BANNER END -->
<!-- MAIN NAV BEGIN -->


<div id="main-nav-wrapper">
	<div id="main-nav-container">
		<div>

<div class="bootstrap">
<nav class="navbar navbar-expand-md">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">Menu</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">



<ul class="nojs navbar-nav mr-auto">
	  <li class="dropdownSearch"><div id="bls-banner-search" class="dropdown-search">
        <form method="get" action="/search/query">
		  <label for="bls-banner-search-submit" class="invisible">Search button</label>
          <input type="image" src="/images/buttons/search_button_blue_20.png" name="term" id="bls-banner-search-submit" alt="BLS Search Submit" title="Submit">
		  <label for="bls-banner-search-input" class="invisible">Search:</label>
          <input name="query" type="text" id="bls-banner-search-input" value="Search BLS.gov" title="Search Input" onclick="this.value=''; this.onclick = null;">

        </form>
      </div></li>
    <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="https://www.bls.gov/" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <i class="circle-arrow"></i></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1"><!-- ********************************************** Begin Home Tab LIST ****************************************** -->
<!-- 1st column -->

<div class="main-nav-submenu" id="submenu-home">
	<ul class="main-nav-submenu-inn">
		<li class="heading"><a href="/bls/proghome.htm" aria-label="Subject Areas">Subject Areas &#187;</a></li>
		<li><a href="/bls/inflation.htm" aria-label="Statistics on Inflation and Prices">Inflation &amp; Prices</a></li>
		<li><a href="/bls/spending.htm" aria-label="Statistics on Spending and Time Use">Spending &amp; Time Use</a></li>
		<li><a href="/bls/unemployment.htm" aria-label="Statistics on Unemployment">Unemployment</a></li>
		<li><a href="/bls/employment.htm" aria-label="Statistics on Employment">Employment</a></li>
		<li><a href="/bls/wages.htm" aria-label="Pay and Benefits">Pay &amp; Benefits</a></li>
		<li><a href="/bls/productivity.htm" aria-label="Productivity Statistics">Productivity</a></li>
		<li><a href="/iif/" aria-label="Workplace Injuries, Illnesses, and Fatalities">Workplace Injuries</a></li>
		<li><a href="/bls/international.htm" aria-label="International Data and Technical Cooperation">International</a></li>
		<li><a href="/bls/demographics.htm" aria-label="Demographic Data">Demographics</a></li>
		<li><a href="/bls/industry.htm" aria-label="Statistics by Industry">Industries</a></li>
		<li><a href="/bls/business.htm" aria-label="Statistics on Business Costs">Business Costs</a></li>
		<li><a href="/bls/occupation.htm" aria-label="Statistics by Occupation">Occupations</a></li>
		<li><a href="/bls/geography.htm" aria-label="Statistics by Geography">Geography</a></li>
	</ul>
	<!-- 2nd column -->
	<ul class="main-nav-submenu-inn">
		<li class="heading"><a href="/audience/" aria-label="Resources For...">Resources For &#187;</a></li>
		<li><a href="/audience/business.htm" aria-label="Resources for Business Leaders">Business Leaders</a></li>
		<li><a href="/audience/consumers.htm" aria-label="Resources for Consumers">Consumers</a></li>
		<li><a href="/developers/" aria-label="Developer's Site">Developers</a></li>
		<li><a href="/audience/economists.htm" aria-label="Economist or Economic Analyst">Economists</a></li>
		<li><a href="/audience/investors.htm" aria-label="Resources for Financial Investors">Investors</a></li>
		<li><a href="/audience/jobseekers.htm" aria-label="Resources for Jobseekers">Jobseekers</a></li>
		<li><a href="/newsroom/" aria-label="Newsroom">Media</a></li>
		<li><a href="/audience/policy.htm" aria-label="Resources for Public Policymakers">Public Policymakers</a></li>
		<li><a href="/audience/students.htm" aria-label="Resources for Students and Teachers">Students &amp; Teachers</a></li>
		<li><a href="/respondents/" aria-label="Survey Respondents">Survey Respondents</a></li>
		<li class="heading"><a href="/eag/" aria-label="At a Glance Tables">At a Glance Tables &#187;</a></li>
		<li><a href="/eag/eag.us.htm" aria-label="United States' Economy at a Glance">U.S. Economy</a></li>
		<li><a href="/eag/" aria-label="Economy at a Glance">Regions, States, &amp; Areas</a></li>
		<li><a href="/iag/" aria-label="Industries at a Glance">Industries</a></li>
	</ul>
	<!-- 3rd column -->
	<ul class="main-nav-submenu-inn">
		<li class="heading"><a href="/bls/infohome.htm" aria-label="More">MORE &#187;</a></li>
		<li><a href="/bls/announcement.htm" aria-label="Annoucements">Announcements</a></li>
		<li><a href="/bls/bls-speakers/bls-speakers.htm" aria-label="BLS Speakers Available">BLS Speakers Available</a></li>
		<li><a href="/bls/erratabydate.htm" aria-label="More, Errata">Errata</a></li>
        <li><a href="/bls/research.htm" aria-label="Research Programs">Research</a></li>
        <li><a href="/osmr/response-rates/" aria-label="Response Rates">Response Rates</a></li>
		<li><a href="/bls/other.htm" aria-label="More, Statistical Sites">Statistical Sites</a></li>
	</ul>
</div>

<!-- ***********************************************End Home Tab LIST ******************************************** -->

</div>
    </li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/bls/proghome.htm" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Subjects <i class="circle-arrow"></i></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2"><!-- ************************************* Begin SUBJECTS TAB list ****************************************** -->
<!-- 1st column -->

<div class="main-nav-submenu" id="submenu-programs">
	<ul class="main-nav-submenu-inn">
		<li class="heading"><a href="/bls/inflation.htm" aria-label="Statistics on Inflation and Prices">Inflation &amp; Prices &#187;</a></li>
		<li><a href="/cpi/" aria-label="Consumer Price Index ">Consumer Price Index</a></li>
		<li><a href="/ppi/" aria-label="Producer Price Indexes">Producer Price Indexes</a></li>
		<li><a href="/mxp/" aria-label="Inflation and Prices, Import Export Price Indexes">Import/Export Price Indexes</a></li>
		<li><a href="/ncs/ect/" aria-label="Employment Cost Trends">Employment Cost Index</a></li>
		<li><a href="/bls/escalation.htm" aria-label="Contract Escalation">Contract Escalation</a></li>
		<li><a href="/pir/" aria-label="Price and Index Number Research">Price Index Research</a></li>
		<li class="heading"><a href="/bls/wages.htm" aria-label="Statistics on Pay and Benefits">Pay &amp; Benefits &#187;</a></li>
		<li><a href="/ncs/ect/" aria-label="Employment Cost Trends">Employment Costs</a></li>
		<li><a href="/ncs/" aria-label="National Compensation Survey">National Compensation Data</a></li>
		<li><a href="/bls/blswage.htm" aria-label="Wage Data by Area and Occupation">Wages by Area &amp; Occupation</a></li>
		<li><a href="/cps/earnings.htm#demographics" aria-label="Earnings by Demogrcaphics">Earnings by Demographics</a></li>
		<li><a href="/ces/" aria-label="Current Employment Statistics">Earnings by Industry</a></li>
		<li><a href="https://www.bls.gov/cew/" aria-label="Quarterly Census of Employment and Wages">County Wages</a></li>  <!--full path is needed since they have a folder on the data server-->
		<li><a href="/ncs/ebs/" aria-label="Employee Benefits Survey">Benefits</a></li>
		<li><a href="/crp/" aria-label="Compensation Research & Program Development">Compensation Research</a></li>
		<li><a href="/wsp/" aria-label="Work Stoppages">Strikes &amp; Lockouts </a></li>
		<li class="heading"><a href="/bls/spending.htm" aria-label="Statistics on Spending and Time Use">Spending &amp; Time Use &#187;</a></li>
		<li><a href="/cex/" aria-label="Consumer Expenditure Surveys">Consumer Expenditures </a></li>
		<li><a href="/tus/" aria-label="American Time Use Survey">How Americans Spend Time</a></li>
	</ul>
	<!-- 2nd column -->
	<ul class="main-nav-submenu-inn">
		<li class="heading"><a href="/bls/unemployment.htm" aria-label="Statistics on Unemployment">Unemployment &#187;</a></li>
		<li><a href="/cps/" aria-label="Labor Force Statistics from the Current Population Survey">National Unemployment Rate </a></li>
		<li><a href="/lau/" aria-label="Local Area Unemployment Statistics">State &amp; Local Unemployment Rates </a></li>
		<li><a href="/ers/" aria-label="Employment Research and Program Development">Unemployment Research</a></li>
		<li class="heading"><a href="/bls/employment.htm" aria-label="Statistics on Employment">Employment &#187;</a></li>
		<li><a href="/ces/" aria-label="Current Employment Statistics">National Employment </a></li>
		<li><a href="/sae/" aria-label="State and Metro Area Employment, Hours, and Earnings">State &amp; Local Employment </a></li>
		<li><a href="https://www.bls.gov/cew/" aria-label="Quarterly Census of Employment and Wages">State &amp; County Employment </a></li> <!--full path is needed since they have a folder on the data server-->
		<li><a href="/cps/" aria-label="Labor Force Statistics from the Current Population Survey">Worker Characteristics </a></li>
		<li><a href="/emp/" aria-label="Employment Projections">Employment Projections </a></li>
		<li><a href="/jlt/" aria-label="Job Openings and Labor Turnover Survey">Job Openings &amp; Labor Turnover </a></li>
		<li><a href="/oes/" aria-label="Occupational Employment Statistics">Employment by Occupation </a></li>
		<li><a href="/nls/" aria-label="National Longitudinal Surveys">Work Experience Over Time </a></li>
		<li><a href="/bdm/" aria-label="Business Employment Dynamics">Business Employment Dynamics </a></li>
		<li><a href="/fdi/" aria-label="Foreign Direct Investment">Foreign Direct Investment </a></li>
		<li><a href="/ers/" aria-label="Employment Research and Program Development">Employment Research</a></li>
		<li class="heading"><a href="/iif/" aria-label="Injuries, Illnesses, and Fatalities">Workplace Injuries &#187;</a></li>
		<li class="heading"><a href="/ors/" aria-label="Occupational Requirements Survey">Occupational Requirements &#187;</a></li>
	</ul>
	<!-- 3rd column -->
	<ul class="main-nav-submenu-inn">
		<li class="heading"><a href="/bls/productivity.htm" aria-label="Productivity Statistics">Productivity &#187;</a></li>
		<li><a href="/lpc/" aria-label="Labor Productivity and Costs"> Labor Productivity &amp; Costs</a></li>
		<li><a href="/mfp/" aria-label="Multifactor Productivity">Multifactor Productivity</a></li>

In [12]:
tree = html.fromstring(page.content)
headers = ['state', 'Apr. 2019', 'Feb. 2020', 'Mar. 2020', 'Apr. 2020']
provinces = np.array([i.text for i in tree.xpath('//table//tbody//tr//th//p')]).reshape((59, 1))
entries = np.array(tree.xpath('//table//tbody//tr//td//span[@class="datavalue"]//text()')).reshape((59, 12))
entries = np.hstack([provinces, entries[:,4:]])
result = pd.DataFrame({headers[i]: entries[:,i] for i in range(len(headers))})
result.head(5)

        state Apr. 2019 Feb. 2020  Mar. 2020  Apr. 2020
0     Alabama    71,185    59,655     67,004    283,787
1      Alaska    21,355    20,095     18,015     43,683
2     Arizona   169,458   161,238    219,151    445,461
3    Arkansas    48,175    47,802     69,728    133,962
4  California   806,461   759,328  1,052,163  2,885,334

To measure the impact on the labour market caused by the government policies, we will look at

* The change in Unemployment Rate from MAR 2020 to APR 2020, and
* The change in Unemployment Rate from APR 2019 to APR 2020.

These two changes are called MoM growth and YoY growth. Before proceeding, we see that Puerto Rico have data missing. So we will simply delete it from the dataset.

In [0]:
result = result.drop([58], axis=0)

In [0]:
for i in ['Apr. 2019', 'Feb. 2020', 'Mar. 2020', 'Apr. 2020']:
    result[i] = result[i].str.replace(',', '').astype(float)

In [15]:
result["YoY Growth"] = (result["Apr. 2020"].astype(np.int64) - result["Apr. 2019"].astype(np.int64)) / result["Apr. 2019"].astype(np.float64) * 100 
result["MoM Growth"] = (result["Apr. 2020"].astype(np.int64) - result["Mar. 2020"].astype(np.int64)) / result["Mar. 2020"].astype(np.float64) * 100
result = result.drop(['Apr. 2019', 'Feb. 2020', 'Mar. 2020', 'Apr. 2020'], axis = 1)
result.head(5)

        state  YoY Growth  MoM Growth
0     Alabama  298.661235  323.537401
1      Alaska  104.556310  142.481266
2     Arizona  162.873986  103.266697
3    Arkansas  178.073690   92.120812
4  California  257.777251  174.228803

In [0]:
us_cases_aggregated = pd.merge(us_cases_aggregated, result, on = 'state')
del result

In [17]:
us_cases_aggregated.head(5)

        state  cases_MAR_to_APR  ...  YoY Growth  MoM Growth
0     Alabama      18339.130435  ...  298.661235  323.537401
1      Alaska      29000.000000  ...  104.556310  142.481266
2     Arizona      30376.923077  ...  162.873986  103.266697
3    Arkansas       9893.750000  ...  178.073690   92.120812
4  California       5570.920502  ...  257.777251  174.228803

[5 rows x 6 columns]

## Indicators for the Policies Carried out by the State Government

Our member team member Jinghan Wang searched tirelessly for policies carried out by the state governments. We used indicators to show if a state carried out a specific policy.

In [18]:
us_policy = pd.read_csv("./us_policy.csv")
us_policy.head(5)

  State/Province  ...  Employee Screening
0        Alabama  ...                   0
1         Alaska  ...                   0
2        Arizona  ...                   0
3       Arkansas  ...                   1
4     California  ...                   1

[5 rows x 17 columns]

In [0]:
# Change the column name from 'state' to 'Province/Territory' to be consistent with 
# the response variable.
us_cases_aggregated.columns = ['State/Province', 'cases_MAR_to_APR', 'cases_APR_to_MAY',
                               'percentage_infected_MAY', 'YoY Growth', 'MoM Growth']

In [20]:
us_cases_aggregated = pd.merge(us_cases_aggregated, us_policy, on = "State/Province")
us_cases_aggregated.head(5)

  State/Province  cases_MAR_to_APR  ...  Large Gathering ban  Employee Screening
0        Alabama      18339.130435  ...                    1                   0
1         Alaska      29000.000000  ...                    1                   0
2        Arizona      30376.923077  ...                    1                   0
3       Arkansas       9893.750000  ...                    1                   1
4     California       5570.920502  ...                    1                   1

[5 rows x 22 columns]

In [0]:
us_cases_aggregated.to_csv('us_data.csv', index = False)

# Data from Canada

## COVID-19 Cases and Deaths

The following dataset is relased by the Government of Canada. It includes the number of cases and deaths by day by province. This dataset is available at [this link](https://health-infobase.canada.ca/src/data/covidLive/covid19.csv).

In [22]:
can_cases = pd.read_csv("https://health-infobase.canada.ca/src/data/covidLive/covid19.csv")
can_cases.head(5)

   pruid            prname  ... recoveredtoday percentactive
0     35           Ontario  ...            NaN         100.0
1     59  British Columbia  ...            NaN         100.0
2      1            Canada  ...            NaN         100.0
3     35           Ontario  ...            NaN         100.0
4     59  British Columbia  ...            NaN         100.0

[5 rows x 21 columns]

First, let's remove sum columns that looks too intriguing.

In [23]:
can_cases = can_cases[['prname', 'date', 'numconf', 'numdeaths']]
can_cases.head(5)

             prname        date  numconf  numdeaths
0           Ontario  31-01-2020        3        0.0
1  British Columbia  31-01-2020        1        0.0
2            Canada  31-01-2020        4        0.0
3           Ontario  08-02-2020        3        0.0
4  British Columbia  08-02-2020        4        0.0

In [0]:
can_cases.columns = ['state', 'date', 'cases', 'deaths']
march_cases = can_cases[can_cases['date'] == '15-03-2020']
march_cases = march_cases.drop(['date'], axis=1)
april_cases = can_cases[can_cases['date'] == '15-04-2020']
april_cases = april_cases.drop(['date'], axis=1)
may_cases = can_cases[can_cases['date'] == '15-05-2020']
may_cases = may_cases.drop(['date'], axis=1)

In [25]:
temp_1 = pd.merge(march_cases, april_cases, on = "state", suffixes=["_MAR", "_APR"])
can_cases_aggregated = pd.merge(temp_1, may_cases, on = "state")
del temp_1, march_cases, april_cases, may_cases
can_cases_aggregated.columns = ['state', 'cases_MAR', 'deaths_MAR', 'cases_APR', 'deaths_APR', 'cases_MAY', 'deaths_MAY']
can_cases_aggregated = can_cases_aggregated[can_cases_aggregated["cases_MAR"] > 0]
can_cases_aggregated = can_cases_aggregated.drop([13, 14], axis=0)
can_cases_aggregated

                  state  cases_MAR  ...  cases_MAY  deaths_MAY
0      British Columbia         73  ...       2407       140.0
1               Alberta         39  ...       6515       125.0
3              Manitoba          4  ...        278         7.0
4               Ontario        103  ...      21922      1825.0
5                Quebec         24  ...      41420      3401.0
7         New Brunswick          1  ...        120         0.0
9  Prince Edward Island          1  ...         27         0.0

[7 rows x 7 columns]

In [0]:
can_cases_aggregated["cases_MAR_to_APR"] = (can_cases_aggregated["cases_APR"] - can_cases_aggregated["cases_MAR"]) / can_cases_aggregated["cases_MAR"] * 100
can_cases_aggregated["cases_APR_to_MAY"] = (can_cases_aggregated["cases_MAY"] - can_cases_aggregated["cases_APR"]) / can_cases_aggregated["cases_APR"] * 100

In [0]:
can_cases_aggregated = can_cases_aggregated.drop(['cases_MAR', 'deaths_MAR', 'cases_APR', 'deaths_APR', 'deaths_MAY'], axis=1)
can_cases_aggregated.rename(columns = {'state':'State/Province'}, inplace= True)

In [28]:
can_cases_aggregated

         State/Province  cases_MAY  cases_MAR_to_APR  cases_APR_to_MAY
0      British Columbia       2407       2038.356164         54.196028
1               Alberta       6515       5017.948718        226.402806
3              Manitoba        278       5675.000000         20.346320
4               Ontario      21922       8100.970874        159.524091
5                Quebec      41420      61816.666667        178.734859
7         New Brunswick        120      11600.000000          2.564103
9  Prince Edward Island         27       2500.000000          3.846154

##Canadian Population Data
The following dataset includes Canadian Population statistics as well as Canadian Labour statistics. This dataset is released by the government of Canada, and it is available at [this link](https://www150.statcan.gc.ca/n1/en/tbl/csv/14100287-eng.zip).

In [29]:
! wget https://www150.statcan.gc.ca/n1/en/tbl/csv/14100287-eng.zip
! unzip 14100287-eng.zip

--2020-06-14 23:10:43--  https://www150.statcan.gc.ca/n1/en/tbl/csv/14100287-eng.zip
Resolving www150.statcan.gc.ca (www150.statcan.gc.ca)... 205.193.226.160
Connecting to www150.statcan.gc.ca (www150.statcan.gc.ca)|205.193.226.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52441025 (50M) [application/zip]
Saving to: ‘14100287-eng.zip.1’

14100287-eng.zip.1   45%[========>           ]  22.97M   644KB/s    eta 43s    ^C
Archive:  14100287-eng.zip
replace 14100287.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [30]:
can_population_data = pd.read_csv("14100287.csv")
can_population_data["REF_DATE"] = pd.to_datetime(can_population_data["REF_DATE"])
import datetime
#date = ['2020-02-01','2020-03-01', '2020-04-01', '2019-04-01']
can_population_data = can_population_data[can_population_data["GEO"] != "Canada"]
can_population_data = can_population_data[can_population_data["Data type"] == 'Seasonally adjusted']
can_population_data = can_population_data[can_population_data["Sex"] == 'Both sexes']
can_population_data = can_population_data[can_population_data["Age group"] == '15 years and over']
can_population_data = can_population_data[can_population_data["Statistics"] == 'Estimate']
can_population = can_population_data[can_population_data["Labour force characteristics"] == 'Population']
can_population = can_population.drop(["Data type", "Sex","DGUID","Labour force characteristics", "Age group","Statistics", "UOM","UOM_ID","SCALAR_FACTOR","SCALAR_ID","VECTOR","COORDINATE","STATUS","SYMBOL","TERMINATED","DECIMALS"], axis=1)
can_population

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          REF_DATE                        GEO    VALUE
1041    1976-01-01  Newfoundland and Labrador    367.7
1836    1976-01-01       Prince Edward Island     82.1
2631    1976-01-01                Nova Scotia    583.1
3426    1976-01-01              New Brunswick    476.8
4221    1976-01-01                     Quebec   4696.3
...            ...                        ...      ...
4788228 2020-05-01                    Ontario  12307.2
4789023 2020-05-01                   Manitoba   1046.2
4789818 2020-05-01               Saskatchewan    893.9
4790613 2020-05-01                    Alberta   3571.9
4791408 2020-05-01           British Columbia   4162.3

[5330 rows x 3 columns]

In [31]:
can_population = can_population[["GEO", "VALUE"]][can_population["REF_DATE"] == "2020-03-01"]
can_population.columns = ["State/Province", "Population"]
can_population

                    State/Province  Population
4766271  Newfoundland and Labrador       439.8
4767066       Prince Edward Island       130.7
4767861                Nova Scotia       814.3
4768656              New Brunswick       635.3
4769451                     Quebec      7102.4
4770246                    Ontario     12289.1
4771041                   Manitoba      1046.3
4771836               Saskatchewan       894.7
4772631                    Alberta      3566.7
4773426           British Columbia      4154.4

In [0]:
can_cases_aggregated = pd.merge(can_cases_aggregated, can_population, on = 'State/Province')

In [33]:
can_cases_aggregated['Cases per 1000 in population'] = can_cases_aggregated["cases_MAY"] / can_cases_aggregated["Population"]
can_cases_aggregated = can_cases_aggregated.drop(['cases_MAY', 'Population'], axis = 1)
can_cases_aggregated.head(5)

     State/Province  ...  Cases per 1000 in population
0  British Columbia  ...                      0.579386
1           Alberta  ...                      1.826618
2          Manitoba  ...                      0.265698
3           Ontario  ...                      1.783857
4            Quebec  ...                      5.831831

[5 rows x 4 columns]

##Canadian Unemployment Data
The Canadian population dataset that we have used above includes Canadian labour statistics as well. This dataset is released by the government of Canada, and it is available at [this link](https://www150.statcan.gc.ca/n1/en/tbl/csv/14100287-eng.zip).

In [34]:
can_labour_data1 = can_population_data[can_population_data["Labour force characteristics"] == 'Unemployment']
can_labour_data1 = can_labour_data1.drop(["Data type", "Sex","DGUID","Labour force characteristics", "Age group","Statistics", "UOM","UOM_ID","SCALAR_FACTOR","SCALAR_ID","VECTOR","COORDINATE","STATUS","SYMBOL","TERMINATED","DECIMALS"], axis=1)
can_labour_data1.head(5)

       REF_DATE                        GEO  VALUE
1452 1976-01-01  Newfoundland and Labrador   22.7
2247 1976-01-01       Prince Edward Island    4.7
3042 1976-01-01                Nova Scotia   25.9
3837 1976-01-01              New Brunswick   29.1
4632 1976-01-01                     Quebec  225.3

In [0]:
can_labour_mar20 = can_labour_data1[["GEO", "VALUE"]][can_labour_data1["REF_DATE"] == "2020-03-01"]
can_labour_apr20 = can_labour_data1[["GEO", "VALUE"]][can_labour_data1["REF_DATE"] == "2020-04-01"]
can_labour_apr19 = can_labour_data1[["GEO", "VALUE"]][can_labour_data1["REF_DATE"] == "2019-04-01"]

In [36]:
temp_1 = pd.merge(can_labour_apr19, can_labour_mar20, on="GEO", suffixes=["_APR_19", "_MAR_20"])
canada_labour = pd.merge(temp_1, can_labour_apr20, on = "GEO")
print(canada_labour.columns)
canada_labour.head(5)

Index(['GEO', 'VALUE_APR_19', 'VALUE_MAR_20', 'VALUE'], dtype='object')

                         GEO  VALUE_APR_19  VALUE_MAR_20  VALUE
0  Newfoundland and Labrador          30.6          28.9   35.8
1       Prince Edward Island           7.3           7.4    8.4
2                Nova Scotia          34.7          44.1   54.0
3              New Brunswick          30.9          33.3   47.2
4                     Quebec         225.0         362.8  729.4

In [37]:
canada_labour.columns = ['GEO','Apr. 2019', 'Mar. 2020', 'Apr. 2020']
canada_labour.head(5)

                         GEO  Apr. 2019  Mar. 2020  Apr. 2020
0  Newfoundland and Labrador       30.6       28.9       35.8
1       Prince Edward Island        7.3        7.4        8.4
2                Nova Scotia       34.7       44.1       54.0
3              New Brunswick       30.9       33.3       47.2
4                     Quebec      225.0      362.8      729.4

To measure the impact on the labour market caused by the government policies, we will look at

* The change in Unemployment from MAR 2020 to APR 2020, and
* The change in Unemployment from APR 2019 to APR 2020.

These two changes are called MoM growth and YoY growth.

In [0]:
canada_labour["YoY Growth"] = (canada_labour["Apr. 2020"].astype(np.int64) - canada_labour["Apr. 2019"].astype(np.int64)) / canada_labour["Apr. 2019"].astype(np.float64) * 100 
canada_labour["MoM Growth"] = (canada_labour["Apr. 2020"].astype(np.int64) - canada_labour["Mar. 2020"].astype(np.int64)) / canada_labour["Mar. 2020"].astype(np.float64) * 100
canada_labour = canada_labour.drop(['Apr. 2019', 'Mar. 2020', 'Apr. 2020'], axis = 1)
canada_labour.columns=["State/Province","YoY Growth","MoM Growth"]

In [39]:
canada_labour

              State/Province  YoY Growth  MoM Growth
0  Newfoundland and Labrador   16.339869   24.221453
1       Prince Edward Island   13.698630   13.513514
2                Nova Scotia   57.636888   22.675737
3              New Brunswick   55.016181   42.042042
4                     Quebec  224.000000  101.157663
5                    Ontario   77.005808   40.471311
6                   Manitoba  107.042254   68.337130
7               Saskatchewan   92.261905   47.945205
8                    Alberta   80.712166   44.655582
9           British Columbia  125.303153   49.276915

In [0]:
can_cases_aggregated = pd.merge(can_cases_aggregated, canada_labour, on = 'State/Province')
del canada_labour

In [41]:
can_cases_aggregated.head(5)

     State/Province  cases_MAR_to_APR  ...  YoY Growth  MoM Growth
0  British Columbia       2038.356164  ...  125.303153   49.276915
1           Alberta       5017.948718  ...   80.712166   44.655582
2          Manitoba       5675.000000  ...  107.042254   68.337130
3           Ontario       8100.970874  ...   77.005808   40.471311
4            Quebec      61816.666667  ...  224.000000  101.157663

[5 rows x 6 columns]

## Indicators for the Policies Carried out by the Provincial Government

In [42]:
can_policy = pd.read_csv("./canada_policy.csv")
can_policy.rename(columns={'Province/Territory':'State/Province'}, 
                 inplace=True)
can_policy.head(5)

              State/Province  ...  Employee Screening
0  Newfoundland and Labrador  ...                   1
1       Prince Edward Island  ...                   1
2                Nova Scotia  ...                   0
3              New Brunswick  ...                   0
4                     Quebec  ...                   0

[5 rows x 17 columns]

In [43]:
can_cases_aggregated = pd.merge(can_cases_aggregated, can_policy, on = "State/Province")
can_cases_aggregated.head(5)

     State/Province  cases_MAR_to_APR  ...  Large Gathering ban  Employee Screening
0  British Columbia       2038.356164  ...                    1                   1
1           Alberta       5017.948718  ...                    1                   0
2          Manitoba       5675.000000  ...                    1                   1
3           Ontario       8100.970874  ...                    1                   0
4            Quebec      61816.666667  ...                    1                   0

[5 rows x 22 columns]

In [0]:
can_cases_aggregated.to_csv('can_data.csv', index = False)

# Merge the data from the US and Canada

In [45]:
NA_data = pd.concat([us_cases_aggregated, can_cases_aggregated])
NA_data

          State/Province  ...  Cases per 1000 in population
0                Alabama  ...                           NaN
1                 Alaska  ...                           NaN
2                Arizona  ...                           NaN
3               Arkansas  ...                           NaN
4             California  ...                           NaN
5               Colorado  ...                           NaN
6            Connecticut  ...                           NaN
7               Delaware  ...                           NaN
8   District of Columbia  ...                           NaN
9                Florida  ...                           NaN
10               Georgia  ...                           NaN
11                Hawaii  ...                           NaN
12                 Idaho  ...                           NaN
13              Illinois  ...                           NaN
14               Indiana  ...                           NaN
15                  Iowa  ...                           NaN
16                Kansas  ...                           NaN
17              Kentucky  ...                           NaN
18             Louisiana  ...                           NaN
19                 Maine  ...                           NaN
20              Maryland  ...                           NaN
21         Massachusetts  ...                           NaN
22              Michigan  ...                           NaN
23             Minnesota  ...                           NaN
24           Mississippi  ...                           NaN
25              Missouri  ...                           NaN
26               Montana  ...                           NaN
27              Nebraska  ...                           NaN
28                Nevada  ...                           NaN
29         New Hampshire  ...                           NaN
30            New Jersey  ...                           NaN
31            New Mexico  ...                           NaN
32              New York  ...                           NaN
33        North Carolina  ...                           NaN
34          North Dakota  ...                           NaN
35                  Ohio  ...                           NaN
36              Oklahoma  ...                           NaN
37                Oregon  ...                           NaN
38          Pennsylvania  ...                           NaN
39          Rhode Island  ...                           NaN
40        South Carolina  ...                           NaN
41          South Dakota  ...                           NaN
42             Tennessee  ...                           NaN
43                 Texas  ...                           NaN
44                  Utah  ...                           NaN
45               Vermont  ...                           NaN
46              Virginia  ...                           NaN
47            Washington  ...                           NaN
48             Wisconsin  ...                           NaN
49               Wyoming  ...                           NaN
0       British Columbia  ...                      0.579386
1                Alberta  ...                      1.826618
2               Manitoba  ...                      0.265698
3                Ontario  ...                      1.783857
4                 Quebec  ...                      5.831831
5          New Brunswick  ...                      0.188887
6   Prince Edward Island  ...                      0.206580

[57 rows x 23 columns]